
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 25px;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.logo img {
    height: 30px;
    padding-top: 10px;
}

.title a {
    color: white;
    text-decoration: none;
    font-family: 'VT 323';
    font-size: 50px;
}

.title a:hover {
    cursor: pointer;
}

.logo {
    color: white;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 65px;
}

.links a {
    color: white;
    text-decoration: none;
    font-family: 'JetBrains Mono Regular';
    font-size: 22px;
}

.links a:hover, .activeLink a {
    display: flex;
    flex-direction: row;
    gap: 65px;
    font-family: 'JetBrains Mono Regular';
    font-size: 22px;
    color: #FC9BFF;
}

