body {
    background-color: rgb(0, 0, 0);
}

body {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.bigContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pinkContainer {
    border: 1px solid #FC9BFF;
    opacity: 1;
    width: 1400px;
    height: 716px;
    border-radius: 15px 15px 15px;
    margin-top: 50px;
}

.cyberpunk {
    background-image: url('../images/cyberpunk1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 716px;
    border-radius: 15px 15px 15px;
    opacity: 0.75;
}

.left {
    width: 1400px;
    height: 716px;
    padding-top: 75px;
    padding-left: 100px;
}

.purpleCircle {
    background-color: #29047D;
    height: 68%;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

}

.purpleCircle img {
    height: 80%;
    mix-blend-mode: color;
    position: absolute;
}

.overText {
    position: absolute;
    color: rgba(252, 155, 255, 1);
    font-family: 'VT 323';
    font-size: 100px;
    top: 150px;
    right: 1px;
    letter-spacing: 0.09em;
}

.overText2 {
    position: absolute;
    color: white;
    font-family: 'VT 323';
    font-size: 100px;
    top: 230px;
    right: 1px;
    letter-spacing: 0.09em;

}

.nextText {
    position: relative;
    color: white;
    font-family: 'VT 323';
    font-size: 100px;
    right: -320px;
    top: 7px;
    letter-spacing: 0.09em;
}

.nextText2 {
    position: relative;
    color: rgba(252, 155, 255, 1);
    font-family: 'VT 323';
    font-size: 100px;
    right: -373px;
    top: -13px;
    letter-spacing: 0.09em;
}

.introText {
    font-family: 'VT 323';
    font-size: 33px;
    color: white;
    position: relative;
}


.textContainer {
    display: flex;
    position: relative;
    bottom: 350px;
    right: -700px;
    width: 550px;
    height: 75px;
}

