

@font-face {
    font-family: 'JetBrains Mono Regular';
    src: url('./fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('./fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Italic';
    src: url('./fonts/JetBrainsMono-Italic.ttf');
}
