body {
    background-color: black;
}

@font-face {
    font-family: 'JetBrains Mono Regular';
    src: url('./fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('./fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
    font-family: 'JetBrains Mono Italic';
    src: url('./fonts/JetBrainsMono-Italic.ttf');
}

@font-face {
    font-family: 'VT 323';
    src: url('./fonts/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart2P-Regular.ttf');
}